.container{
    /* border: 2px solid red; */
    /* background-color: yellow; */
    /* color: rebeccapurple; */
    width: 45%;
    margin: auto;
}
.calculator{
    /* border: 2px solid blue; */
    background-color: black;
    color: white;
}
h1{
    margin-top: 28px;
}
.view{
    /* background-color: orange; */
    /* border: 2px solid rgb(174, 2, 2); */
    border-bottom: 2px solid gray;
}
#input-view{
    /* background-color: rgb(96, 153, 221); */
    /* border: 2px solid rgb(14, 1, 1); */
    margin: 0px 0px 15px 0px;
    height: 13vh;
    text-align: right;
    font-size: 40px;
    padding-top: 25px;
    box-sizing: border-box;
}
.input-key{
    /* background-color: rgb(96, 153, 221); */
    /* border: 2px solid green; */
    height: 65vh;
    /* padding: 10px; */
    box-sizing: border-box;
    color: black;
}
.a{
    /* background-color: rgb(211, 93, 14);
    border: 2px solid rgb(18, 8, 59);  */
    box-sizing: border-box;
    /* margin: auto; */
}
.key{
    background-color: rgb(200, 227, 245);
    font-size: 25px;
    display: inline-block;
    width: 14%;
    height: 70px;
    margin: 15px;
    text-align: center;
    /* padding-top: 18px; */
    /* box-sizing: border-box; */
}
.equalsto{
    background-color: rgb(183, 216, 240);
    font-size: 25px;
    display: inline-block;
    width: 200px;
    height: 70px;
    margin: 15px;
    text-align: center;
}
.equalsto:hover{
    box-shadow: 0 0 0 0.2rem rgb(7, 66, 1);
    color:rgb(23, 122, 18)
}
.key:hover{
    background-color: black;
    color: white;
    /* font-size: 40px;
    box-sizing: border-box; */
} 
.clear:hover{
    color:rgb(213, 38, 38);
}
.del:hover{
    color:rgb(255, 166, 1);
}
.operator:hover{
    color:rgb(0, 131, 179);
}
